@import "./variables.pcss";

/* --- Links ---------- */
a {
  color: var(--black);

  &:hover {
    text-decoration: none;
  }
}

/* --- Headings ---------- */
h1, h2, h3, h4 {
  font-family: var(--serif);
  font-weight: 700;
  letter-spacing: -0.01em;
}

h1 {
  font-size: ms(4)rem;
  line-height: 1.5;
}

h2 {
  font-size: ms(2)rem;
}

h3 {
  font-size: ms(1)rem;
}

h4 {
  font-size: ms(0)rem;
}

/* --- Paragraph ---------- */
p {
  margin-bottom: var(--space_xs);

  line-height: 1.78;
}
