/* -- Colors ------ */
$white: #FAFAFC;
$gray-10: #F2F2F5;
$gray-15: #EDEDF2;
$gray-20: #E1E1E8;
$gray-30: #CDCDD6;
$gray-40: #AAAAB5;
$gray-50: #81818C;
$gray-60: #585861;
$gray-70: #3D3D45;
$black: #272730;

/* --- Typography ------ */
$sans: "IBM Plex Sans", "system", sans-serif;
$mono: "IBM Plex Mono", monospace;
