.box {
  user-select: none;
  &--bg {
    fill: $gray-10;
    stroke: $gray-20;
  }
  &--handle {
    fill: $gray-10;
  }
  &--extra {
    fill: $gray-20;
  }
  &--hand {
    fill: $black;
  }
  &--axis {
    fill: none;
  }
  &.x .axis-x, &.y .axis-y {
    fill: $gray-60;
  }
}
