.footer {
  display: flex;
  flex-direction: column;
  padding: 48px 0 40px;

  background: var(--gray-20);
  text-align: center;

  &--copyright {
    margin-bottom: 13px;
  }

  &--license {
    margin-bottom: 28px;
    font-size: ms(-1)rem;

    a {
      color: var(--black);
    }
  }

  &--logo {
    width: 32px;
    margin: 0 auto;

    fill: #701DF4;
  }
}
