.demo--installation-01 {
  text-align: center;

  & .drag {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 232px;
    height: 124px;

    background: var(--gray-10);
    border: 1px solid var(--gray-30);

    @media (max-width: 600px) {
      width: 184px;
      height: 104px;
    }
  }
}
