:root {
  --grid--gutter: 80px;
  --grid--gutter_l: 64px;

  --grid--margin: 64px;
  --grid--margin_m: 32px;
  --grid--margin_s: 24px;
}

/* --- General ---------- */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}


/* --- Home & Navbar ---------- */
.home__wrapper,
.navbar__wrapper {
  position: relative;

  max-width: 1248px;
  padding-left: var(--grid--margin);
  padding-right: var(--grid--margin);
  margin: auto;
}
