:root {
  --grid--gutter: 80px;
  --grid--gutter_l: 64px;
}

/* --- General ---------- */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}


/* --- Home & Navbar ---------- */
.home__wrapper,
.navbar__wrapper {
  position: relative;

  max-width: 1248px;
  margin: auto;
}
