:root {
  --grid-gutter: var(--space_xl);
  --grid-gutter_l: var(--space_l);

  --grid-margin: var(--space_l);
  --grid-margin_m: var(--space_m);
  --grid-margin_s: var(--space_s);
}

/* --- General ---------- */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}


/* --- Home & Navbar ---------- */
.home--wrapper,
.navbar--wrapper {
  position: relative;

  max-width: 1248px;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  margin: auto;
}
