.drag-pill {
  width: 100%;

  &.drag-draggable,
  & .drag-handle {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--gray-10);
    border: 1px solid var(--gray-30);
    border-radius: var(--space_q);
  }

  &.drag-uses-handle {
    display: flex;
    justify-content: flex-end;

    background: var(--gray-30);
    border: 0;
  }

  & .drag-handle {
    width: var(--space_xxl);
    height: 100%;
  }
}
