:root {
  --navbar-height: var(--space_l);
  --button-size: var(--space_s);

  --logo-left: var(--space_xs);
  --logo-right: 98px;

  --navbar-hover: var(--gray-100);
  --navbar-icon-size: var(--space_s);
  --navbar-icon-padding: var(--space_b);
}

.navbar {
  position: fixed;
  top: 0;

  width: 100%;
  height: var(--navbar-height);

  color: white;
  background: var(--black);

  z-index: 999;
}
