/* --- General ---------- */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


/* --- Home & Navbar ---------- */
.home--wrapper,
.navbar--wrapper {
  position: relative;

  max-width: 1296px;
  padding-left: var(--space_l);
  padding-right: var(--space_l);
  margin: auto;
}
