:root {
  --page--margin: 128px;
  --page--margin_m: 48px;
  --page--margin_s: 24px;
}

.site {
  &.has-sidebar {
    padding-left: var(--sidebar--width);

    @media (max-width: 1100px) {
      padding-left: var(--sidebar--width_m);
    }

    @media (max-width: 900px) {
      padding-left: 0;
    }
  }
}
