/* --- Grid ---------- */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

}

/* --- Wrapper ---------- */
.hero-wrapper {
  position: relative;

  max-width: 1248px;
  margin: auto;
}
