.drag-hand {
  width: var(--space_xl);
  height: var(--space_xl);

  &--hand {
    fill: var(--black);
  }

  &--arrow {
    stroke: var(--gray-80);
    stroke-width: var(--space_d);
    stroke-linecap: square;
  }
}
